@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body > #root > div {
    height: 100vh;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

.fredoka {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Fredoka One', cursive;
};
